{
    "extends": "airbnb-base",
    "env": {
        "jest": true,
        "node": true
    },
    "esversion": 6,
    "rules": {
        "max-len":[1,120,{"tabWidth":2,"ignoreComments":true}]
    }
}